# backend/.env_example
SERVER_PORT=3001
NODE_ENV=development
CORS_ORIGINS=http://localhost:3000

MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/bookface?retryWrites=true&w=majority
DB_NAME=bookface-mern

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

JWT_SECRET=
