.profileDropdown {
    display: none;
    position: absolute;
    background-color: var(--thirdly-color);
    min-width: 200px;
    padding: 20px 16px 0 0;
    z-index: 10;
    margin-top: 70px;
}

.profileWrapper:hover .profileDropdown {
    display: block;
}